.navbar {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  width: 150px;
}

.navbarMenu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49557e;
}
